.form {
    flex-wrap: wrap;
    .form__input--password,
    .form__input--password-margin,
    .form__input--select {
      .form__error {
        top: 100%;
      }
      &.w-52 {
        width: 52%;
      }
      &.f-right {
        margin-left: 2%;
      }
    }
   
  
    .form__input--password-margin {
      margin-top: 2.7rem;
    }
    .form__input--normal-margin {
      margin-top: 1.5rem;
    }
    .form__input {
        margin-top: 1.5rem;
    }
    
    }

    .form__error {
      position: absolute;
      color: #f44336;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    }
  
  
 
  